# Demo App
app/app/logs/*
!app/app/logs/.gitkeep 
app/app/uploads/*
!app/app/uploads/.gitkeep 

# Python cache
__pycache__

# Packages
*.egg
*.egg-info
dist
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
_build

# Installer logs
pip-log.txt
build.txt

# Unit test / coverage reports
.coverage
.tox
.cache
tests/root_path.txt