# Demo App
app/app/migrations/*
app/logs/*
!app/logs/.gitkeep 
app/uploads/*
!app/uploads/.gitkeep 

# Docs
docs/_build/*

# Python cache
__pycache__

# Mac Cache File for Finder
.DS_Store

# Packages
*.egg
*.egg-info
dist
eggs
parts
var
sdist
develop-eggs
.installed.cfg
_build

# Installer logs
pip-log.txt
build.txt

# Unit test / coverage reports
.coverage
.tox
.cache
tests/root_path.txt